NEXT_PUBLIC_SANITY_PROJECT_ID=u09gju27
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-06-29
# Optional for public datasets, required if your dataset is private:
SANITY_API_READ_TOKEN=skiXDCHljy88ILkOAw8Fg7PovDSqmhLTTRWWRjj5jdtgxETv1y3NmUz4s8gxTkFNjuyQamlr6myAA9R2O9MDx90khCsZ5MfaxV7keh60htNdK1sLVaukEOYQHZZmbHkOgdANlZmTXYuOuzo6fa1d5r3JudtRKXC6MpGiG2B4J22CS2YAXIth


# Required only for importing/seeding content into Sanity:
SANITY_API_WRITE_TOKEN=skiXDCHljy88ILkOAw8Fg7PovDSqmhLTTRWWRjj5jdtgxETv1y3NmUz4s8gxTkFNjuyQamlr6myAA9R2O9MDx90khCsZ5MfaxV7keh60htNdK1sLVaukEOYQHZZmbHkOgdANlZmTXYuOuzo6fa1d5r3JudtRKXC6MpGiG2B4J22CS2YAXIth


